.anchorHome {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home1 {
  background-color: #6F6D3D;
  color: #212225;
}

.home2 {
  background-color: #F5B85D;
  color: #212225;
}

.home3 {
  background-color: #BE6731;
  color: #212225;
}

.home4 {
  background-color: #FD9985;
  color: #212225;
}

.home5 {
  background-color: #5B493D;
  color: #212225;
}

.btn-submit {
  background-color: #FD9985;
  color: #F9F4F2;
  width: 220px;
  height: 55px;
  border-radius: 0;
  border: none;
  font-size: 1.5rem;
}

.btn-submit:hover {
  box-shadow: 3px 3px 6px #999;
}

.bannerHome {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/backgrounds/img-header.jpg");
  background-size: cover;
  background-position: 50% 70%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form1Home {
  background-color: #212225;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
}