#newName {
  border: 1px solid #F5B85D;
  width: 400px;
}

#newApellidoPaterno {
  border: 1px solid #F5B85D;
  width: 400px;
}

#newApellidoMaterno {
  border: 1px solid #F5B85D;
  width: 400px;
}

#newEmail {
  border: 1px solid #F5B85D;
  width: 400px;
}

#newPassword {
  border: 1px solid #F5B85D;
  width: 400px;
}

#repeatNewPassword {
  border: 1px solid #F5B85D;
  width: 400px;
}

label.form-labelSign {
  margin-top: 10px;
}